@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins:wght@400;500;600;800&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}
.otp-section {
    background-color: #23304c;
    width: 100%;
    height: auto;
    padding: 30px 20px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}
.logo img {
    width: 80%;
    margin-bottom:20px;
}
.login {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.login p {
    color: #fff;
    margin-right: 10px;
}
.login p:nth-child(2) {
    background-color: #2b83ea;
}
/* form style */

.left {
    color: #fff;
    width: 100%;
}
.right {
    color: #f4f4f4;
    width: 100%;
}
.form-input {
    padding: 50px 0;
    height: auto;
}
.lefty {
    background-color: #fff;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 5px 0px 10px 0.5px rgba(0, 0, 0, 0.46);
    z-index: 100;
    position: relative;
}
.righty {
    background-color: #fafafa;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.form-input h1 {
    text-align: center;
    color: #444444;
    font-size: 1rem;
    font-weight: 400;
}
.input-field {
    padding: 20px 50px;
}
.eye-icon {
    border-bottom: 1px solid #859fc1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}
.eye-icon input {
    border: none;
    height: 27px;
    width: 100%;
    outline: none;
    background-color: transparent;
}
.eye-icon .eye {
    color: #859fc1;
}
.eye-icon input::placeholder {
    color: #859fc1;
    font-size: 0.8rem;
}
.check-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.check-box p {
    font-size: 0.7rem;
    margin-left: 10px;
    margin-top: 15px;
}
.check-box > .check {
    color: #2b83ea;
    font-size:2rem;
}
.verify-btn > button {
    background-color: #2b83ea;
    width: 100px;
    font-size: 0.9rem;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 9px 5px;
}
.agree {
    margin-top: 10px;
}
.agree > p {
    font-size: 0.7rem;
    margin-top:15px;
}

/* margin-seting */

/* rightside style */
.rightside {
    text-align: center;
    padding: 50px 0;

    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.top {
    margin-bottom: 40px;
}
.top > h4 {
    color: #444444;
}
.top > p {
    color: #4c5565d9;
}
.rightimg {
    width: 100%;
}
.rightside img {
    width: 50%;
}
.bottom > p {
    color: #4c5565d9;
    margin-top: 50px;
}

@media only screen and (max-width: 576px) {
    .logo img {
        width: 70%;
    }
    .login p {
        font-size: 0.8rem;
        width: 100px;
    }
    .login p:nth-child(2) {
        font-size: 0.8rem;
        width: 100px;

        background-color: #2b83ea;
    }
    .lefty {
      box-shadow: 0 0 0 0 ;
      border-top-left-radius: 5px;
      border-top-right-radius:5px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
    .righty {
        border-top-left-radius: 0px;
        border-top-right-radius:0px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
      
    }
}
